# Opinion Spam - Text Representation

In [1]:
import os 

import numpy as np
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(sentences)

vocabulary = vectorizer.get_feature_names_out().tolist()
vectors = vectorizer.transform(sentences).todense()

pd.DataFrame(
    vectors,
    columns=vocabulary
)

In [26]:
sentences = [
    'I ate an apple',
    'I ate an orange',
    'I ate a banana',
    'I had an apple',
    'I had a pear',
]

In [27]:
def text2dataframe(sentences, vectorizer):
    vectorizer.fit(sentences)
    
    df = pd.DataFrame(
        vectorizer.transform(sentences).todense(),
        columns=vectorizer.get_feature_names_out().tolist()
    )
    
    df.index.name = 'document_id'
    
    return df

In [28]:
print('\n'.join(sentences))

I ate an apple
I ate an orange
I ate a banana
I had an apple
I had a pear

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

df = text2dataframe(sentences, vectorizer)

df.style.background_gradient(
    cmap='Greys', low=0, high=1, axis=None
)

**[Question]** 

Why were "I" and "a" ignored?

In [39]:
# Try to answer here ...

## Cosine Similarity

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

pd.DataFrame(
    cosine_similarity(df, df),
    index=sentences,
    columns=sentences,
).style.background_gradient(
    cmap='YlGn', low=0, high=1, axis=None
)

## n-grams

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(ngram_range=(2,2))

df = text2dataframe(sentences, vectorizer)

df.style.background_gradient(
    cmap='Greys', low=0, high=1, axis=None
)

## Characters vs Words

In [45]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer='char', ngram_range=(1,1))

df = text2dataframe(sentences, vectorizer)

df.style.background_gradient(
    cmap='Greys', low=0, high=1, axis=None
)

## TF-IDF

**TF** means `term-frequency` while **IDF** means `inverse document-frequency`

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

df = text2dataframe(sentences, vectorizer)

df.style.background_gradient(
    cmap='Greys', low=0, high=1, axis=None
)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

pd.DataFrame(
    cosine_similarity(df, df),
    index=sentences,
    columns=sentences,
).style.background_gradient(
    cmap='YlGn', low=0, high=1, axis=None
)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')

df = text2dataframe(sentences, vectorizer)

df.style.background_gradient(
    cmap='Greys', low=0, high=1, axis=None
)

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

pd.DataFrame(
    cosine_similarity(df, df),
    index=sentences,
    columns=sentences,
).style.background_gradient(
    cmap='YlGn', low=0, high=1, axis=None
)

# Comparing Apples and Oranges

## Word Embedding

In [130]:
vector_data = {
    "dog":    [0.9, 0.0, 0.0],
    "cat":    [0.8, 0.0, 0.0],
    "orange": [0.0, 0.5, 0.5],
    "apple":  [0.0, 0.8, 0.0],
    "blue":   [0.0, 0.0, 0.8],
    "red":    [0.0, 0.0, 0.9],
}

In [137]:
cosine_similarity(
    np.array(vector_data["dog"]).reshape((1, 3)),
    np.array(vector_data["cat"]).reshape((1, 3)),
).round(4)[0,0]

1.0

In [139]:
cosine_similarity(
    np.array(vector_data["dog"]).reshape((1, 3)),
    np.array(vector_data["orange"]).reshape((1, 3)),
).round(4)[0,0]

0.0

In [140]:
cosine_similarity(
    np.array(vector_data["red"]).reshape((1, 3)),
    np.array(vector_data["orange"]).reshape((1, 3)),
).round(4)[0,0]

0.7071

In [141]:
cosine_similarity(
    np.array(vector_data["blue"]).reshape((1, 3)),
    np.array(vector_data["orange"]).reshape((1, 3)),
).round(4)[0,0]

0.7071

## SpaCy Word Vectors

In [142]:
import spacy

In [143]:
nlp = spacy.load('en_core_web_lg')

fruits = ["apple", "apples", "orange", "pear", "fruit", "blue"]
tokens = {fruit: nlp(fruit).vector for fruit in fruits}

In [144]:
cosine_similarity(
    tokens['apple'].reshape((1, 300)),
    tokens['apple'].reshape((1, 300)),
).round(2)[0,0]

1.0

In [145]:
cosine_similarity(
    tokens['apple'].reshape((1, 300)),
    tokens['apples'].reshape((1, 300)),
).round(2)[0,0]

0.75

In [146]:
cosine_similarity(
    tokens['apple'].reshape((1, 300)),
    tokens['orange'].reshape((1, 300)),
).round(2)[0,0]

0.56

In [147]:
cosine_similarity(
    tokens['apple'].reshape((1, 300)),
    tokens['pear'].reshape((1, 300)),
).round(2)[0,0]

0.61

In [148]:
cosine_similarity(
    tokens['blue'].reshape((1, 300)),
    tokens['apple'].reshape((1, 300)),
).round(2)[0,0]

0.35

In [149]:
cosine_similarity(
    tokens['blue'].reshape((1, 300)),
    tokens['orange'].reshape((1, 300)),
).round(2)[0,0]

0.77

# Exercise 

Time to iterate on the execercise at the end of ["2- Text Classification"](https://github.com/gr33ndata/jonthebeach/blob/main/notebooks/2-%20Text%20Classification.ipynb)

- It's up to you to classify the documents based on their `polarity` or the `deceptive` label.
- Try TF-IDF vectorizer instead of the Count Vectorizer this time. And compare the classifier's accuracy.
- Try different values for `ngram_range`, say 1-gram, combination of 1-and 2-grams, and 3-grams
- Which words correlate with positive polarity (or with deceptiveness)